.login-form {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    flex-flow: column wrap;
    width: 100%;
    margin: 5px 0 15px 0;
}
.spinner-content {
    display: flex;
    width: 100%;
    justify-content: center;
}

.product-image {
    max-height: 100px;
}

.login-form Button {
    margin-top: 9px;
    width: 40%;
}

.orders-main {
    width: 100%;
}

.form-paper {
    width: 300px;
}
.product-creation__form, .product-edit__form {
    display: flex;
    flex-flow: column nowrap;
}

.products-page {
    width: 100%;
}
.products-page Button {
    margin-bottom: 12px;
}

@media (max-width: 846px) {
    .sidebar {
        display: none;
    }
}