.login-form {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    flex-flow: column wrap;
    width: 100%;
    margin: 5px 0 15px 0;
}

.login-form Button {
    margin-top: 9px;
    width: 40%;
}

.orders-main {
    width: 100%;
}

.form-paper {
    width: 300px;
}

@media (max-width: 846px) {
    .sidebar {
        display: none;
    }
}