

.order-block__status {
    position: relative;
    width: 9px;
    top: 0px;
    height: 90%;
    margin-right: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.order-block__order-id {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 100px;
}

.order-block__order-date, .order-block__order-client {
    display: flex;
    flex-flow: column nowrap;
}

.order-block__order-date-hour, .order-block__order-client-name {
    font-size: 1.3em;
}

.order-block__order-date-ymd, .order-block__order-client-phone {
    color: rgb(149, 149, 149);
}