

.order-block__status {
    position: relative;
    width: 9px;
    top: 0px;
    height: 90%;
    margin-right: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.order-block__order-id {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 100px;
}
