.orders-number {
    flex-grow: 1;
}

.orders-title-header{
    display: flex;
    width: 97%;
    padding: 10px;
}

.product-image {
    max-width: 50px;
}

.order-qty {
}

.product-img {
    flex-grow: 1;
}

.order-date {
    flex-grow: 1;
}