.orders-title-header{
    display: flex;
    width: 97%;
    padding: 10px;
}
.panel-details {
    display: flex;
    margin: 0;
    flex-flow: column nowrap;
}

.panel-details__content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 100%;
    padding: 10px;
}

.panel-details__product-sku {
    font-size: .8em;
    color: rgb(121, 121, 121);
}

.panel-details__product-price {
    padding: 6px;
    background-color: #fff3b5;
    max-width: 70px;
    margin-top: 7px;
    border-radius: 10px;
    font-size: 1.24em;
    text-align: center;
    cursor: pointer;
}

.product-image {
    max-width: 50px;
}

.product-image__details {
    max-width: 100px;
    padding: 10px;
}

.panel-divider{
    width: 100px;
}

.product-qty, .product-img, .order-date, .orders-number, .order-qty,
.product-total__price {
    flex-grow: 1;
}