.layout-children {
    display: flex;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.layout-content {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: calc(100vw - 240px);
}