.auth-form {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.auth-container {
    height: 100vh;
    /* background-image: url('./assets/alpes.jpg'); */
    /* background-size: 100% 100%; */
    
}

.login-form {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    flex-flow: column wrap;
    width: 100%;
    margin: 5px 0 15px 0;
}

.spinner-content {
    display: flex;
    height: 400px;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.product-image {
    max-height: 50px;
}

.login-form Button {
    margin-top: 9px;
    width: 40%;
}

.login-form .auth-input {
    width: 80%;
}

.orders-main {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    width: 95%;
}

.form-paper, .page-product-recover {
    width: 400px;
}

.product-creation__form, .product-edit__form, .product-recovery__form {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    align-items: center;
}

.form-button {
    width: 20%;
}

.products-page, .page-product-creation {
    width: 95%;
    margin-bottom: 15px;
}

.products-page Button {
    margin-bottom: 12px;
}

.page-title {
    display: flex;
    flex-flow: column nowrap;
    padding: 10px 0 15px 0;
}

.page-toolbar {
    display: flex;
    margin-top: 15px;
    align-items: center;
    flex-flow: row nowrap;
    height: 30px;
}

@media (max-width: 600px) {
    .auth-container {
        background-image: none;
        background-size: none;
        height: 100vh;
    }
}