.auth-form {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.auth-container {
    height: 100vh;
    background-image: url('./assets/alpes.jpg');
    background-size: 100% 100%;
}


.login-form {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    flex-flow: column wrap;
    width: 100%;
    margin: 5px 0 15px 0;
}

.spinner-content {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    margin-top: 100px;
    justify-content: center;
}

.product-image {
    max-height: 100px;
}

.login-form Button {
    margin-top: 9px;
    width: 40%;
}

.login-form .auth-input {
    width: 80%;
}

.orders-main {
    width: 100%;
}

.form-paper {
    width: 400px;
    height: 400px;
}

.product-creation__form, .product-edit__form {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    align-items: center;
}

.form-button {
    width: 20%;
}

.products-page {
    width: 90%;
}

.products-page Button {
    margin-bottom: 12px;
}


@media (max-width: 600px) {
    .auth-container {
        background-image: none;
        background-size: none;
        height: 100%;
    }
}